@charset "utf-8";
@import 'normalize';
@import 'variables';
@import 'icon-font';

@font-face {
  font-family: 'AvenirNextW1g';
  src: font-url('Avenir-next-w1g/AvenirNextW1G-Regular.ttf?-syv14m');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextW1g';
  src: font-url('Avenir-next-w1g/AvenirNextW1G-Heavy.ttf?-syv14m');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextW1g';
  src: font-url('Avenir-next-w1g/AvenirNextW1G-Light.ttf?-syv14m');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextW1g';
  src: font-url('Avenir-next-w1g/AvenirNextW1G-Bold.ttf?-syv14m');
  font-weight: bold;
  font-style: normal;
}

%default-font {
  font-family: 'AvenirNextW1g';
  font-size: 18px;
}
.toc-wrapper {
  font-size: 14px;
  .toc-h2 {
    font-size: 14px;
  }
  .toc-link {
    &.active {
      background-color: #0060f2;
    }
  }
  .logo {
    margin-bottom: 40px;
    margin-left: 15px;
  }
}
.content {
  h1 {
    font-size: 32px;
    line-height: 40px;
    background-color: #ffffff;
  }
  h2 {
    font-size: 24px;
    line-height: 40px;
    color: #545454;
  }
  aside {
    background: #edf0f4;
    &.warning {
      background-color: #ff003c;
      color: #ffffff;
    }
  }
}
.page-wrapper {
  background-color: #f2faff;
}